<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head ('Tab Title')"></head>
<body>

<div th:replace="fragments :: header"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments :: sidebar"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <h2 class="pt-3">Diff</h2>

            <div class="row">
                <div class="col-6"><h4>Old Page</h4></div>
                <div class="col-6"><h4>New Page</h4></div>
            </div>

            <div class="row">
                <div class="col-12">
                    <pre th:each="diff:${page.getDifferences()}" class="diff w-100 d-block"
                         th:classappend="${diff.getType().name() == 'ADDED'} ? 'table-success' : (${diff.getType().name() == 'REMOVED'} ? 'table-danger' : '')"
                         th:text="${diff.getLine()}"></pre>
                </div>
            </div>
        </main>
    </div>
</div>

</body>
</html>