<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head ('Login')"></head>
<body>

<div th:replace="fragments :: header"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments :: sidebar"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="p-3 bg-danger text-white" th:if="${param.error}">
                Invalid username and password.
            </div>
            <div class="p-3 bg-warning text-dark" th:if="${param.logout}">
                You have been logged out.
            </div>
            <form class="pt-3 form-inline" th:action="@{/login}" method="post">
                <div class="form-group px-2">
                    <label class="pr-2" for="loginEmail"> Email: </label>
                    <input id="loginEmail" class="form-control px-2" name="username" autofocus/>
                </div>
                <div class="form-group px-2">
                    <label class="pr-2" for="loginPWD"> Password: </label>
                    <input id="loginPWD" type="password" class="form-control px-2" name="password"/>
                </div>
                <input type="submit" class="btn btn-primary px-2 pb-2" value="Sign In"/>
            </form>
        </main>
    </div>
</div>


</body>
</html>